.container {
    background-color: bisque;
    color: black;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 20px 0 20px 0;
}

.tarjeta {
    padding-left: 20px;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

li {

    font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

